<!-- Toolbar -->

<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">{{ 'LOGIN' | translate }}</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">{{ 'REGISTER' | translate }}</a>
    <a mat-button mat-raised-button routerLink="pickpoint" routerLinkActive="active">{{ 'PICKUP POINTS' | translate }}</a>
  </span>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="AR" (click)="translate.use('ar')">{{ 'AR' | translate }}</mat-button-toggle>
    <mat-button-toggle value="EN" (click)="translate.use('en')">{{ 'EN' | translate }}</mat-button-toggle>
  </mat-button-toggle-group>
  
</mat-toolbar>

<router-outlet></router-outlet>

